@import "./utils/variables";

@import "../../node_modules/bootstrap/scss/bootstrap";





.home-bg {
    background: url(../../img/home-bg-dark.png ) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
}

.fs{
    font-size: 20px;

}

html, body {
    height: 100%;

}
main{
    height: 100%;
    margin-top: -104px;
}

.navbar-brand{
    z-index: 10;
}



.toggle-butten {
    display: none;
  }
  

  
  .navigation-list a {

    text-transform: uppercase;
  }
  
  @media (max-width: 576px) {

    .navigation-list {
      display: none;
    }
    .navigation-list.active {
      display: flex;
      background-color: black;
      position: fixed;
      inset: 0 0 0 0;
      padding: 5rem 1rem 0 0;
      flex-direction: column;
      align-items: flex-end;

    }

  
    .toggle-butten {
      display: block;
      position: absolute;
      right: 2rem;
      z-index: 9990;
      color: white;
    }
  }
